Bienvenido al tennis
<form method='post' action='/jugar'>
	<div>	
		<label>Jugador 1:</label>
		<input type='text' name='jugador1'>
	</div>
	<div>	
		<label>Jugador 2:</label>
    	<input type='text' name='jugador2'>
	</div>	
	<div>	
		<input type='submit' value="Iniciar Juego">
	</div>
</form>
