Juego en progreso <p/> <%= @jugador1 %> - <%= @jugador2 %>
<p/><%= @score %>
<p/>
<form method='post' action="/jugar1">
	<input type='submit' value="Jugador1 Anota"/>
</form>

<form method='post' action="/jugar2">
	<input type='submit' value="Jugador2 Anota"/>
</form>
